* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
}

.header {
  margin: auto;
  width: 17rem;
  text-align: center;
}

.App {
  background: radial-gradient(rgba(111, 111, 111, 0.246), rgb(159, 159, 159));
  width: 24rem;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(70, 70, 70, 0.371);
}